<html>
    <head>
        <title>PlayOn</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
    </head>
    <body>
        <h1>PlayOn</h1>
        {% if songs %}
            <div id='song-section'>
                <ul>
                {% for song in songs %}
                <li class='song-container' style='background: {{song.color}};'>
                    <p>{{song.name}}</p>
                    <iframe src='https://embed.spotify.com/?uri={{ song.uri }}' frameborder='0' allowtransparency='true'></iframe>
                </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id='form-section'>
            <h2>What playlist would you like to view?</h2>
            <form action='/viewer' method='GET'>
                {{ form }}
                <input type='submit' value='Submit'/>
            </form>
        </div>
    </body>
</html>