<html>
    <head>
        <title>PlayOn</title>
    </head>
    <body>
        <h1>PlayOn</h1>
        {% if songs %}
            <div id='song-section'>
            {% for song in songs %}
            <div class='song-container'>
                {{song.name}}
                <iframe src="https://embed.spotify.com/?uri={{ song.uri }}" frameborder="0" allowtransparency="true" height="80" width="350"></iframe>
                {{song.album}}
            </div>
            {% endfor %}
            </div>
        {% endif %}
        <h2>What playlist would you like to view?</h2>
        <form action='/viewer' method='GET'>
            {{ form }}
            <input type='submit' value='Submit'/>
        </form>
    </body>
</html>