body {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-left: 2%;
    background-color: #fffff0;
}

input {
    margin-left: 1%;
}

ul {
    list-style-type:none;
}

p {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    font-size: 25px;
    color: #ffffff;
}

iframe {
    height: 80px;
    width: 500px;
}

.song-container {
    width: 65%;
}
